<div class="row">
    
    <div class="col-xs-3">
        <p>stats</p>
        <div class="panel panel-default"></div>
    <div class="panel-body"></div>
</div>
      
    <div class="col-xs-6">
          <% for @p in @posts %>
          <p> <%= @p.content %> </p>
          <div class="panel panel-default"></div>
    <div class="panel-body">
    </div>
    <% end  %>
</div>
    
      <div class="col-xs-3">
         <p>about</p>
         <div class="panel panel-default"></div>
    <div class="panel-body"></div>
</div>

</div>

<!-- Begin row 2 -->




